
<div class="container mx-auto px-4 py-8">
    <div class="bg-white rounded-lg shadow-md p-6 relative h-full sm:h-96" style="background-image: url('https://img.freepik.com/free-photo/medium-shot-man-wearing-vr-glasses_23-2150394443.jpg?w=996&t=st=1690955405~exp=1690956005~hmac=a284c9f839f8a11b30be21369fdf0de16aa6fa0d086c9ae4142d864a53b0bc8f'); background-size: cover; background-position: center;">
        <div class="flex flex-col p-6 text-white gap-4  h-full justify-end">
            <div class="flex">
                <button class="text-white border hover:text-black hover:bg-white font-medium rounded-full text-sm px-3 py-2 text-center mr-2 mb-2">
                    CASE STUDY
                </button>
                <button class="text-white border hover:text-black hover:bg-white font-medium rounded-full text-sm px-3 py-2 text-center mr-2 mb-2">
                    FEATURED
                </button>
            </div>
            <p class="text-2xl sm:text-4xl font-semibold mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <p class="text-lg sm:text-2xl font-md mb-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
            <a href="#" class=" text-black dark:text-white hover:underline">Read more<i class="fas fa-angle-double-right ml-1"></i></a>
        </div>
    </div>
  </div>