<div class="px-auto mt-20">
    <div class="flex flex-col text-center pt-12 pb-12 pl-6 pr-6 gap-5 md:p-16 md:gap-9 items-center justify-center border-b-2 mx-4 sm:mx-20">
        <span class="text-3xl font-bold mb-2">Contact Us</span>
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-3 h-64">
                <a href="#" class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 flex flex-col justify-center items-center">
                    <i class="fa-solid fa-envelope text-blue-500 text-6xl mb-2"></i>
                    <span class="text-lg font-bold tracking-tight text-gray-900">Email:</span>
                    <span class="text-md  tracking-tight text-gray-900">blogs@gmail.com</span>
                </a>
                
                <a href="#" class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 flex flex-col justify-center items-center">
                    <i class="fa-solid fa-phone text-blue-500 text-6xl mb-2"></i>
                    <span class="mb-2 text-lg font-bold tracking-tight text-gray-900">Phone:</span>
                    <span class="mb-2 text-md tracking-tight text-gray-900">0712175228</span>
                </a>
                
                <a href="#" class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 flex flex-col justify-center items-center">
                    <i class="fa-solid fa-map-marker-alt text-blue-500 text-6xl mb-2"></i>
                    <span class="mb-2 text-lg font-bold tracking-tight text-gray-900">Address:</span>
                    <span class="mb-2 text-md tracking-tight text-gray-900">573, Park Street, Colombo 123456</span>
                </a>
              </div>
    </div>   
    <div class="flex flex-col text-center pt-12 pb-12 pl-6 pr-6 gap-5 md:p-16 md:gap-9 items-center justify-center">
        <span class="text-3xl font-bold mb-2">Get In Touch</span>
        <div class="block w-full sm:w-[30%] p-6 rounded-lg mb-8">
            <form class="text-left ">
                <div class="text-md font-normal text-red-600 mb-6">* indicates required fields</div>
                  <div class="mb-6">
                    <input type="text" id="fullName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="* Full Name" required>
                  </div>
                  <div class="mb-6">
                    <input type="email" id="emailAddress" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Email Address">
                  </div>
                  <div class="mb-6">
                    <textarea id="comment" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="Enter a Message"></textarea>
                  </div>
                <button type="submit" class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-4 text-center shadow-sm">Send Message</button>
            </form>
        </div>
    </div>   
</div>