
<div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
      <div class="col-span-1 lg:col-span-2 bg-white rounded-lg shadow-md p-6 relative h-96" style="background-image: url('https://res.cloudinary.com/du9jdgaij/image/upload/v1692171007/knqkqa0m7lpo87yybhm2.jpg'); background-size: cover; background-position: center;">
          <div class="absolute bottom-0 right-0 p-6 text-white">
              <button class="text-white border hover:text-black hover:bg-white  font-medium rounded-full text-sm px-3 py-2 text-center mr-2 mb-2">
                  View Blog
              </button>
            <h2 class="text-2xl font-semibold mb-2">A pool is a man-made or natural body of ,</h2>
          </div>
        </div>
        <div class="bg-white rounded-lg shadow-md p-6 relative h-96" style="background-image: url('https://res.cloudinary.com/du9jdgaij/image/upload/v1692171290/jd6hkmrp7s39zisq8gdz.jpg'); background-size: cover; background-position: center;">
          <div class="absolute bottom-0 right-0 p-6 text-white">
              <button class="text-white border hover:text-black hover:bg-white  font-medium rounded-full text-sm px-3 py-2 text-center mr-2 mb-2">
                  View Blog
              </button>
            <h2 class="text-xl font-semibold mb-2">Chicken is a widely consumed and versatile type of poultry that</h2>
          </div>
        </div>
        <div class=" bg-white rounded-lg shadow-md p-6 relative h-96" style="background-image: url('https://res.cloudinary.com/du9jdgaij/image/upload/v1692171332/otrzjupl9z9dqecs6msr.jpg'); background-size: cover; background-position: center;">
          <div class="absolute bottom-0 right-0 p-6 text-white">
              <button class="text-white border hover:text-black hover:bg-white  font-medium rounded-full text-sm px-3 py-2 text-center mr-2 mb-2">
                  View Blog
              </button>
            <h2 class="text-xl font-semibold mb-2">Pasta is a versatile and beloved food that has become </h2>
          </div>
        </div>
    </div>
  </div>
