<div class="px-auto mt-20">
  <div
    class="flex flex-col text-center pt-12 pb-12 pl-6 pr-6 gap-5 md:p-16 md:gap-9 items-center justify-center"
  >
    <span class="text-3xl font-bold mb-2">Register an Account</span>
    <div
      class="block w-full sm:w-[30%] p-6 bg-white border border-gray-200 rounded-lg shadow mb-8"
    >
      <form
        class="text-left"
        #registrationForm="ngForm"
        (ngSubmit)="onSubmit(registrationForm)"
      >
        <div class="text-md font-normal text-red-600 mb-6">
          * indicates required fields
        </div>
        <div class="mb-6">
          <input
            type="text"
            id="firstName"
            name="firstName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* First Name"
            required
            [(ngModel)]="firstName"
          />
        </div>
        <div class="mb-6">
          <input
            type="text"
            id="lastName"
            name="lastName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* Last Name"
            required
            [(ngModel)]="lastName"
          />
        </div>
        <div class="mb-6">
          <input
            type="email"
            id="email"
            name="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* E-mail address"
            required
            [(ngModel)]="email"
          />
        </div>
        <div class="mb-6">
          <input
            type="password"
            id="password"
            name="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* Password"
            required
            [(ngModel)]="password"
          />
        </div>
        <div class="mb-6">
          <mat-checkbox
            class="text-sm"
            name="terms"
            [(ngModel)]="terms"
            required
          >I agree to the Bucks Terms of Use</mat-checkbox>
        </div>
        <button
          type="submit"
          class="text-white bg-blue-600 hover:bg-blue-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-4 text-center shadow-sm"
        >
          Register Account
        </button>
      </form>
    </div>
    <span class="text-md text-blue-600 font-semibold">Existing User?</span>
    <a
      href="/login"
      class="text-blue-600 bg-transparent hover:bg-blue-600 hover:text-white border hover:border-blue-800 border-blue-600 focus:ring-4 focus:outline-none font-medium rounded-md text-sm px-5 py-2 text-center shadow-sm"
      >Sign In</a
    >
  </div>
</div>
